{% extends "base.html" %}
{% block body %}
{% if back %}
<a href="{{ back }}">Back</a>
{% endif %}
<div class="album-container">
    <ul class="child-albums-list">
        {% for title, url, thumbnail in albums %}
        <li>
            <a href="{{ url }}">
                {% if thumbnail %}
                <img class="album-thumbnail" src="{{ thumbnail }}"/>
                {% else %}
                <img class="album-thumbnail" src="{{gallery_root}}/assets/images/folder.svg"/>
                {% endif %}
            </a>
            <p class="child-album-title">{{ title }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="thumbnail-container">
    <ul class="thumbnails-list">
        {% for title, url, thumbnail in thumbnails %}
        <li class="thumbnail-item">
            <a href="{{ url }}">
                <img class="picture" src="{{ thumbnail }}"/>
            </a>
            <p class="thumbnail-title">{{ title }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock body %}
