{% extends "base.html" %}
{% block body %}
{% include "navigation.html" %}
{% if back_ %}
<a href="{{ back_ }}">Back</a>
{% endif %}
{% if not place_after %}
    {% include user_content_ %}
{% endif %}


{% if albums_|length > 0 %}
    <ul class="child-album-list">
        {% for title, url, thumbnail in albums_ %}
            <li class="child-album-item">
                <div class="child-album-container">
                    <a class="child-album-link" href="{{ url }}">
                        {% if thumbnail %}
                        <img class="child-album-thumbnail" src="{{ thumbnail }}"/>
                        {% else %}
                        <div class="child-album-default-thumbnail"></div>
                        {% endif %}
                    </a>
                    <p class="child-album-title">{{ title }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% if thumbnails_|length > 0 %}
    <div class="thumbnail-container">
        <ul class="thumbnails-list">
            {% for title, url, thumbnail in thumbnails_ %}
            <li class="thumbnail-item">
                <a href="{{ url }}">
                    <img class="picture" src="{{ thumbnail }}"/>
                </a>
                <p class="thumbnail-title">{{ title }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if place_after %}
    {% include user_content_ %}
{% endif %}
{% endblock body %}
