{% extends "base.html" %}
{% block body %}
<a href="{{album_url}}">back to album</a>
{% if previous %}
    <a href="{{previous}}">previous</a>
{% endif %}
{% if next %}
    <a href="{{next}}">next</a>
{% endif %}
<div class="image-container">
    <img class="picture" src="{{image}}">
</div>
<div class="image-metadata">
    <p>Camera: {{meta["Model"]}}</p>
    <p>Date: {{meta["DateTime"]}}</p>
    <p>{{meta["ISOSpeedRatings"]}} ISO, {{meta["ShutterSpeedValue"]}}s, {{meta["FNumber"]}}</p>
</div>
{% endblock body %}