{% extends "base.html" %}
{% block body %}
<a href="index.html">back to album</a>
{% if previous %}
    <a href="{{previous}}">previous</a>
{% endif %}
{% if next %}
    <a href="{{next}}">next</a>
{% endif %}
<div class="image-container">
    <img class="picture" src="{{image}}">
</div>
<div class="image-metadata">
    <p>Camera: {{exif["Model"]}}</p>
    <p>Date: {{exif["DateTime"]}}</p>
    <p>{{exif["ISOSpeedRatings"]}} ISO, {{exif["ShutterSpeedValue"]}}s, {{exif["FNumber"]}}</p>
</div>
{% endblock body %}