bleach==3.3.0
boto3==1.12.38
botocore==1.15.38
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==3.3.2
docutils==0.16
idna==2.9
jeepney==0.4.3
Jinja2==2.11.3
jmespath==0.9.5
keyring==21.2.0
Markdown==3.2.1
MarkupSafe==1.1.1
piexif==1.1.3
Pillow==8.2.0
pkginfo==1.5.0.1
pycparser==2.20
Pygments==2.6.1
python-dateutil==2.8.1
PyYAML==5.3.1
readme-renderer==25.0
requests==2.23.0
requests-toolbelt==0.9.1
s3transfer==0.3.3
SecretStorage==3.1.2
six==1.14.0
sqlitedict==1.6.0
tqdm==4.45.0
twine==3.1.1
urllib3==1.26.5
webencodings==0.5.1
