/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');*/

:root {
  --list-width: 80vw;
  --list-height1: 100vw;
  --list-height2: 100vw;
  --list-height3: 100vw;
  --thumbnail-width1: 25vw;
  --thumbnail-width2: 25vw;
  --thumbnail-width3: 25vw;
  --thumbnail-padding: 1vw;
  /* child-albums variables */
  --item-width: 25vw;
  --image-container-height: calc(var(--item-width) * 3 / 4);
  --image-height: calc(var(--image-container-height) * 5 / 6);
  --image-margin: calc(var(--image-container-height) * 1 / 12);
  --image-title-height: calc(var(--image-container-height) * 1 / 4);
  --item-width2: 37vw;
  --item-width1: 78vw;
  --h1-font-size: 3.6rem;
  --image-navigation-font-size: 4rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: 1px;
}

/* Common styles */
.main-container {
  display: flex;
  flex: 1;
  padding-bottom: 100px;
}

.full-width {
  width: 100%;
}

.user-text {
  width: 70%;
  max-width: 1000px;
  padding-bottom: 30px;
  padding-top: 100px;
  color: #222;
  margin-left: auto;
  margin-right: auto;
}

.user-text p {
  text-align: justify;
  padding-bottom: 2%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
}

.user-text h1 {
  color: rgb(94, 90, 90);
  font-size: var(--h1-font-size);
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 5%;
  padding-top: 5%;
  font-family: 'Federo', sans-serif;
}

.user-text h2 {
  color: rgb(94, 90, 90);
  font-size: calc(5/6 * var(--h1-font-size));
  text-align: left;
  padding-top: 5%;
  padding-bottom: 3%;
  font-family: 'Federo', sans-serif;
}

.user-text h3
{
  color: rgb(94, 90, 90);
  font-size: calc(4/5 * var(--h1-font-size));
  text-align: left;
  padding-top: 5%;
  padding-bottom: 3%;
  font-family: 'Federo', sans-serif;
}

.user-text h4
{
  color: rgb(94, 90, 90);
  font-size: calc(3/4 * var(--h1-font-size));
  text-align: left;
  padding-top: 5%;
  padding-bottom: 3%;
  font-family: 'Federo', sans-serif;
}

.user-text h5,
.user-text h6
{
  color: rgb(94, 90, 90);
  font-size: calc(2/3 * var(--h1-font-size));
  text-align: left;
  padding-top: 5%;
  padding-bottom: 3%;
  font-family: 'Federo', sans-serif;
}

.user-text img {
  display: block;
  max-width: 80%;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.user-text a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  color:  #1779ba;
  text-decoration: none;
}

.user-text a:hover,
.user-text a:focus {
  color: #1468a0;
}

.user-text ul,
.user-text ol {
  padding-bottom: 2%;
}

.user-text li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  margin-left: 3rem;
}

.user-text blockquote {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  margin-left: 3rem;
}

.user-text code {
  font-family: monospace;
  font-size: 1.0rem;
  padding: 5px;
  margin-bottom: 2%
}

.user-text pre {
  background-color: #eeeeee;
  padding: 2%;
  margin-bottom: 2%;
}

.user-text table {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2%;
}

.user-text td,
.user-text th {
  border: 1px solid #999;
  padding: 0.5rem;
}

/* Pages */
.page-container {
  width: 100%;
}

/* Navigation on Album Page */
.navigation-bar {
  margin: 0;
  padding-left: 20px;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid grey;
}

.navigation-item {
  float: left;
  list-style: none;
}

.navigation-link {
  color: black;
  text-decoration: none;
  padding: 0.8rem 1.8rem;
  display: inline-block;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.navigation-link:hover {
  color: grey;
}

/* Breadcrumbs */
.breadcrumbs {
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Cabin";
  margin-left: 2.6vw;
  margin-top: 1.5rem;
}

.breadcrumbs-link {
  color: #999;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: black;
}

.breadcrumbs-divider::before {
  color: black;
  content: "\003E";
}

.breadcrumbs-current {
  color: #333;
  display: inline-block;
}

/* Album Page - Child Albums */
.child-album-list {
  width: 80vw;
  padding: 1vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.child-album-item {
  list-style: none;
  width: var(--item-width);
  margin-bottom: 2vw;
  text-align: center;
  border: 1px solid lightgray;
}

.child-album-container{
  width: 100%;
  height: var(--image-container-height);
  background-color: #ece3e3;
}

.child-album-link {
  outline: none;
  border: none;
}

.child-album-thumbnail {
  max-height: var(--image-height);
  max-width: calc(var(--item-width) - calc(var(--image-margin) * 2));
  width: auto;
  height: auto;
  margin: var(--image-margin);
  background-color: #ece3e3;
}

.child-album-title {
  padding: 16px 16px;
  background-color: white;
}

.child-album-title p {
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
  font-family: 'Cabin';
  color: #6b6565;
}

/* Album Thumbnails */
.thumbnail-list {
  height: var(--list-height3);
  width: var(--list-width);
  margin: 3% auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  background-color: white;
  padding: calc(var(--thumbnail-padding) / 2.0);
}

.thumbnail-item {
  list-style: none;
}

.thumbnail-link {
  display: inline-block;
  padding: calc(var(--thumbnail-padding) / 2.0);
  border: none;
  outline: none;
}

.thumbnail-image {
  width: var(--thumbnail-width3);
  height: auto;
}

.thumbnail-title {
  display: none;
}

/* Image page */
.picture {
  max-height: 90vh;
  max-width: 90vw;
  width: auto;
  height: auto;
  display: block;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

.previous,
.next {
  color: black;
  text-decoration: none;
  font-size: var(--image-navigation-font-size);
  font-family: Times;
  color: grey;
  position: fixed;
  top: 50%;
}

.previous {
  left: 1%;
}

.next {
  right: 1%;
}

.previous:hover {
  color: rgb(70, 69, 69);
}

.next:hover {
  color: rgb(70, 69, 69);
}

.album-link {
  font-size: calc(0.4 * var(--image-navigation-font-size));
  position: fixed;
  top: 2%;
  right: 1%;
  text-decoration: none;
  text-align: center;
  color: rgb(63, 62, 62);
  font-family: Arial;
}

/* Footer */
footer {
  background-color: rgb(50, 50, 50);
  width: 100%;
  padding: 0.8rem 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer-copyright{
  color: #e3dbdb;
}

footer a {
 text-decoration: none;
 color: #e7e7e7;
}

footer a:hover {
 color: green;
}


.footer-primary {
  font-size: 0.9rem;
  text-align: center;
  padding-bottom: 2px;
}

.footer-secondary {
  font-size: 0.8rem;
  color: rgb(170, 166, 155);
  text-align: center;
}

/* Contact form */
.contact-form div {
  width: 100%;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.contact-form-label {
  display: block;
  padding-bottom: 0.5rem;
}

.contact-form-input {
  display: block;
  border: 1px solid #999;
  padding: 7px;
  width: 500px;
}

.contact-form-textarea {
  width: 100%;
  resize: vertical;
  height: 35vh;
  max-height: 60vh;
  min-height: 10vh;
}

.contact-form-submit {
  background-color: #686262;
  border: none;
  padding: 10px 25px;
  color: white;
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
  :root {
    --item-width: var(--item-width2);
    --h1-font-size: 2.8rem;
  }

  .thumbnail-list {
    height: var(--list-height2);
  }

  .thumbnail-image {
    width: var(--thumbnail-width2);
  }

  .contact-form-input {
    width: 400px;
  }
}

@media only screen and (max-width: 600px) {

  :root {
    --item-width: var(--item-width1);
  }
  .thumbnail-list {
    height: var(--list-height1);
  }
  .thumbnail-image {
    width: var(--thumbnail-width1);
  }
  .child-album-item {
    margin-bottom: 2vw;
  }
  .child-album-title p{
    font-size: 1.1rem;
  }
  .contact-form-input {
    width: 100%;
  }

  .user-text h1 {
    font-size: 2.0rem;
  }
}

@media only screen and (max-width: 600px) {
  .picture {
    max-height: 85vh;
    max-width: 85vw;
    margin-top: 7vh;
    margin-bottom: 8vh;
  }
  :root {
    --image-navigation-font-size: 3rem;
  }
}