<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{root_}}/_assets_/images/icon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{root_}}/_assets_/images/icon-32x32.png">
    <link rel="icon" type="image/x-icon" href="{{root_}}/_assets_/images/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{root_}}/_assets_/images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{root_}}/_assets_/images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{root_}}/_assets_/images/apple-touch-icon-57x57-precomposed.png">
    <link href="https://fonts.googleapis.com/css2?family=Federo&family=Cabin:wght@500&family=Roboto+Condensed&family=Source+Sans+Pro:wght@300&display=swap"
      rel="stylesheet">
    <link href="{{root_}}/_assets_/styles/theme.css" rel="stylesheet" type="text/css" media="all">
    <title>
      {% if page_title %} {{page_title}} {% else %} Mikula Gallery {% endif %}
    </title>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
