{% extends "base.html" %}
{% block body %}
{% include "navigation.html" %}
<div class="main-container">
    <div class="full-width">
    {% if posts_|length > 0 %}
        <ul class="child-album-list">
            {% for date, title, url, thumbnail in posts_ %}
                <li class="child-album-item">
                    <div class="child-album-title">
                        <p>{{ date }}</p>
                    </div>
                    <div class="child-album-container">
                        <a class="child-album-link" href="{{ url }}">
                            {% if thumbnail %}
                            <img class="child-album-thumbnail" src="{{ thumbnail }}"/>
                            {% else %}
                            <img class="child-album-thumbnail" src="{{root_}}/_assets_/images/folder.svg"/>
                            {% endif %}
                        </a>
                    </div>
                    <div class="child-album-title">
                        <p>{{ title }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>

{% include "footer.html" %}

{% endblock body %}
